.search__label-admin {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 10px;
}
.admin-panel__main {
  display: flex;
  flex-direction: column;
}
.users {
  width: 96%;
  margin: 0 auto;
}
.user {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  padding: 4px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.custom-select {
  position: absolute;
  top: 0;
  right: 0;
}
.user__offences {
  display: flex;
  justify-content: space-between;
}
.options-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 436px;
  box-sizing: border-box;
}
.admin__btn {
  width: 200px;
  margin: 2px auto;
}
.admin__link {
  display: flex;
  align-items: center;
}
.trash_can {
  border: none;
  width: 20px;
  height: 25px;
  background-color: rgba(0,0,0,0);
  background-image: url(../img/trash_can.svg);
  background-size: 20px 25px;
  cursor: pointer;
  margin: 0 10px;
}