.nav {
  width: 100vw;
  background: #2C2670;
}
.nav__in {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.nav__title {
  color: #fff;
  text-decoration: none;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  margin: 7.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  gap: 40px;
  list-style: none;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav__list a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.hamburger-menu {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: center;
}
#menu__toggle {
  opacity: 0;
  width: 30px;
  height: 30px;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 70px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  margin: 0 0 0 73vw;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #2C2670;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  border-bottom: 2px #fff solid;
  display: table;
  margin: 0 auto;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}