.nav {
  width: 100%;
  background: #2D4478;
}
.nav__in {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.nav__title {
  color: #fff;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  margin: 7.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  gap: 40px;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav__list a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.hamburger-menu {
  cursor: pointer;
  width: 30px;
  height: 22px;
  background: url(../img/burger.svg) no-repeat center center;
}
#menu__toggle {
  opacity: 0;
  width: 30px;
  height: 20px;
  color: #fff;
  cursor: pointer;
}
.menu__box {
  display: block;
  visibility: hidden;
  box-sizing: border-box;
  width: 350px;
  margin: 0 0 0 -780%;
  padding: 20px 0;
  list-style: none;
  text-align: center;
  background-color: #2D4478;
  position: relative;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  border-bottom: 2px #fff solid;
  display: table;
  margin: 0 auto;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
}